/* Homework Assignment #6 - Giphy API
// css custom styling
// Rhonda Johnson 
*/

    html,
    body { 
    margin: 0; 
    padding: 0;     
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtfJuFzjmHwsYIkQRHPm6vRujvijw-bHlikvHGVke_l-4ljrT-5g");
    }

    h1  {
        width: 100%;
        text-align: center;
        background-color: rgb(18, 176, 204);
    }

    h5 {
        font-size: 10px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    hr{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .row{
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    button,
    div,
    form,
    label,
    input {
      margin: 5px 10px 5px 10px;
    }
    div{
      display: inline-block;
    }

    #add-gifs {
        margin: 5px 10px 5px 20px;
      }

    img{
        padding: 5px;   
    }

    p{
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 0px;
        width: 100px;        
    }

    #animals-view{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: center; 
    }

    #animal-input{
        width: 150px;
        margin-right: 0px;
    }

     